<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>fx_000</key>
	<string>[嘻嘻]</string>
	<key>fx_001</key>
	<string>[哈哈]</string>
	<key>fx_002</key>
	<string>[喜欢]</string>
	<key>fx_003</key>
	<string>[晕]</string>
	<key>fx_004</key>
	<string>[泪]</string>
	<key>fx_005</key>
	<string>[馋嘴]</string>
	<key>fx_006</key>
	<string>[抓狂]</string>
	<key>fx_007</key>
	<string>[哼]</string>
	<key>fx_008</key>
	<string>[可爱]</string>
	<key>fx_009</key>
	<string>[怒]</string>
	<key>fx_010</key>
	<string>[汗]</string>
	<key>fx_011</key>
	<string>[微笑]</string>
	<key>fx_012</key>
	<string>[睡觉]</string>
	<key>fx_013</key>
	<string>[钱]</string>
	<key>fx_014</key>
	<string>[偷笑]</string>
	<key>fx_015</key>
	<string>[酷]</string>
	<key>fx_016</key>
	<string>[衰]</string>
	<key>fx_017</key>
	<string>[吃惊]</string>
	<key>fx_018</key>
	<string>[怒骂]</string>
	<key>fx_019</key>
	<string>[鄙视]</string>
	<key>fx_021</key>
	<string>[挖鼻屎]</string>
	<key>fx_022</key>
	<string>[色]</string>
	<key>fx_023</key>
	<string>[鼓掌]</string>
	<key>fx_024</key>
	<string>[悲伤]</string>
	<key>fx_025</key>
	<string>[思考]</string>
	<key>fx_026</key>
	<string>[生病]</string>
	<key>fx_027</key>
	<string>[亲亲]</string>
	<key>fx_028</key>
	<string>[抱抱]</string>
	<key>fx_029</key>
	<string>[白眼]</string>
	<key>fx_030</key>
	<string>[右哼哼]</string>
	<key>fx_031</key>
	<string>[左哼哼]</string>
	<key>fx_032</key>
	<string>[嘘]</string>
	<key>fx_033</key>
	<string>[委屈]</string>
	<key>fx_034</key>
	<string>[哈欠]</string>
	<key>fx_035</key>
	<string>[敲打]</string>
	<key>fx_036</key>
	<string>[疑问]</string>
	<key>fx_037</key>
	<string>[挤眼]</string>
	<key>fx_038</key>
	<string>[害羞]</string>
	<key>fx_039</key>
	<string>[快哭了]</string>
	<key>fx_040</key>
	<string>[拜拜]</string>
	<key>fx_042</key>
	<string>[黑线]</string>
	<key>fx_043</key>
	<string>[强]</string>
	<key>fx_044</key>
	<string>[弱]</string>
	<key>fx_045</key>
	<string>[给力]</string>
	<key>fx_046</key>
	<string>[浮云]</string>
	<key>fx_047</key>
	<string>[围观]</string>
	<key>fx_048</key>
	<string>[威武]</string>
	<key>fx_049</key>
	<string>[相机]</string>
	<key>fx_050</key>
	<string>[汽车]</string>
	<key>fx_051</key>
	<string>[飞机]</string>
	<key>fx_052</key>
	<string>[爱心]</string>
	<key>fx_053</key>
	<string>[奥特曼]</string>
	<key>fx_054</key>
	<string>[兔子]</string>
	<key>fx_055</key>
	<string>[熊猫]</string>
	<key>fx_056</key>
	<string>[不要]</string>
	<key>fx_057</key>
	<string>[ok]</string>
	<key>fx_058</key>
	<string>[赞]</string>
	<key>fx_059</key>
	<string>[勾引]</string>
	<key>fx_060</key>
	<string>[耶]</string>
	<key>fx_061</key>
	<string>[爱你]</string>
	<key>fx_063</key>
	<string>[拳头]</string>
	<key>fx_064</key>
	<string>[差劲]</string>
	<key>fx_065</key>
	<string>[握手]</string>
	<key>fx_066</key>
	<string>[玫瑰]</string>
	<key>fx_067</key>
	<string>[心]</string>
	<key>fx_068</key>
	<string>[伤心]</string>
	<key>fx_069</key>
	<string>[猪头]</string>
	<key>fx_070</key>
	<string>[咖啡]</string>
	<key>fx_071</key>
	<string>[麦克风]</string>
	<key>fx_072</key>
	<string>[月亮]</string>
	<key>fx_073</key>
	<string>[太阳]</string>
	<key>fx_074</key>
	<string>[啤酒]</string>
	<key>fx_075</key>
	<string>[萌]</string>
	<key>fx_076</key>
	<string>[礼物]</string>
	<key>fx_077</key>
	<string>[互粉]</string>
	<key>fx_078</key>
	<string>[钟]</string>
	<key>fx_079</key>
	<string>[自行车]</string>
	<key>fx_080</key>
	<string>[蛋糕]</string>
	<key>fx_081</key>
	<string>[围巾]</string>
	<key>fx_082</key>
	<string>[手套]</string>
	<key>fx_084</key>
	<string>[雪花]</string>
	<key>fx_085</key>
	<string>[雪人]</string>
	<key>fx_086</key>
	<string>[帽子]</string>
	<key>fx_087</key>
	<string>[树叶]</string>
	<key>fx_088</key>
	<string>[足球]</string>
</dict>
</plist>
